%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content
    -if @partner_category.name == "Distributors" && @partner_category.partners.present?
      = render "partners/partner_content", :partner => @partner_category.partners.first
    - else
      = render "layouts/social_bookmarks"
      %h1= @partner_category.name
      .introduction
        %p= @partner_category.content
      %section
        -#TODO stage2: map here
      - for d3_partner in @partner_category.d3_partners do
        = render "partner_summary", :partner => d3_partner
      - for partner in @partner_category.foreign_partners do
        = render "partner_summary", :partner => partner
%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"