%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content
    -if @partner_category.name == "Distributors" && @partner_category.partners.present?
      = render "partners/partner_content", :partner => @partner_category.partners.first
    - else
      = render "layouts/social_bookmarks"
      %h1= @partner_category.name
      .introduction
        %p= @partner_category.content
      %section
        -#TODO stage2: map here
      - for partner in @partner_category.partners do
        %section{:id => partner.slug, :class => "partner_index #{@partner_category.slug}"}
          - if (@partner_category.name == "Rental Partners" || @partner_category.name == "d3 Studios Global") && partner.logo.present?
            %img{:src => partner.logo.asset.url(:small), :alt => partner.logo.description, :class => "no-shadow"}
          - elsif partner.assets.present?
            %img{:src => partner.assets.first.asset.url(:small), :alt => partner.assets.first.description}
          .wrapper
            %h2= link_to partner.name, "#{partner_category_path(@partner_category)}/#{partner.slug}"
            %p= partner.summary
            -#%p.read_more= link_to "Find #{partner.name}", partner_category_partner_path(partner)
          %ul.contact_details
            - if partner.town.present? || partner.postcode.present?
              %li= "#{partner.town} #{partner.postcode}"
            - if partner.country.present?
              %li= partner.country
            -if partner.phone.present?
              %li= partner.phone
            -if partner.email.present?
              %li= link_to partner.email, "mailto:#{partner.email}"
            -if partner.website.present?
              - if partner.website.split('://')[0] == "http"
                %li= link_to partner.website, partner.website
              - else
                %li= link_to partner.website, "http://#{partner.website}"
%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"