%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    #social_bookmarks
      TODO: social bookmarks here?
    %h1= @partner_category.name
    %p.introduction= @partner_category.content
    %section
      map here
    - for partner in @partner_category.partners do
      %section{:id => partner.slug, :class => "partner_index"}
        - if partner.assets.present?
          %img{:src => partner.assets.first.asset.url(:small), :alt => partner.assets.first.description}
        .wrapper
          %h2= link_to partner.name, "#{partner_category_path(@partner_category)}/#{partner.slug}"
          %p= partner.content
          -#%p.read_more= link_to "Find #{partner.name}", partner_category_partner_path(partner)
        %ul.contact_details
          - if partner.town.present? || partner.postcode.present?
            %li= "#{partner.town} #{partner.postcode}"
          - if partner.country.present?
            %li= partner.country
          -if partner.phone.present?
            %li= partner.phone
          -if partner.email.present?
            %li= link_to partner.email, "mailto:#{partner.email}"
          -if partner.website.present?
            %li= link_to partner.website, partner.website
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"