%ul
  %li= link_to "Overview", "/support"
  %li= link_to "User Guide", "/support/user-guide"
  %li= link_to "FAQ", "/support/faq/most-popular"
  %li= link_to "Tutorials", "/support/tutorials"
  %li= link_to "Training", "/support/training"
  %li= link_to "Announcements", "/news"
  %li= link_to "Downloads", "/support/downloads"