%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    = render "download_categories/sidebar"
  %section#content
    %h1= @download.name
    .left= sanitize(textilize(@download.content))
    = render "download_categories/download_link", :download => @download
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"