-if @partners.present? && @partners.first.partner_category.present?
  %h2 Partners
  %ul
    - for partner in @partners do
      %li
        %h3= partner.name
        %p= strip_tags(textilize(truncate(partner.summary, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        %p= link_to "#{root_url.chop}#{partner_category_path(partner.partner_category)}/#{partner.slug}", "#{root_url.chop}#{partner_category_path(partner.partner_category)}/#{partner.slug}"