-if @tutorials.present?
  %h2 Tutorials
  %ul
    - for tutorial in @tutorials do
      %li
        %h3= tutorial.name
        = sanitize(textilize(truncate(tutorial.content, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        %p= link_to "#{root_url.chop}/support/tutorials##{tutorial.name.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, '-').downcase}", "#{root_url.chop}/support/tutorials##{tutorial.name.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, '-').downcase}"
-#-if @chapters.present?       #TODO uncomment when user guide ready
  %h2 User Guide
  %ul
    - for chapter in @chapters do
      %li
        %h3= chapter.name
        = sanitize(textilize(truncate(chapter.summary, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        -if chapter.parent.present?
          %p= link_to "#{root_url.chop}#{chapter_path(chapter, :parent => chapter.parent.slug)}", "#{root_url.chop}#{chapter_path(chapter, :parent => chapter.parent.slug)}"
        -else
          %p= link_to "#{root_url.chop}#{chapter_path(chapter)}", "#{root_url.chop}#{chapter_path(chapter)}"
-if @downloads.present?
  %h2 Downloads
  %ul
    - for download in @downloads do
      %li
        %h3= download.name
        = sanitize(textilize(truncate(download.content, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        %p= link_to download_path(download,  :only_path => false), download_path(download,  :only_path => false)
-if @faqs.present?
  %h2 FAQs
  %ul
    - for faq in @faqs do
      %li
        = sanitize(textilize(truncate(faq.question, :length => D3::Application::RESULT_TEXT_LENGHT, :separator => ' ')))
        %p= link_to "#{faq_path(faq.categories.first,  :only_path => false)} ##{faq.question.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, '-').downcase}", "#{faq_path(faq.categories.first,  :only_path => false)}##{faq.question.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, '-').downcase}"