%section#breadcrumb
  .parent= link_to "Search"
  %ul
    %li &nbsp;
.container
  %section#content

    %h1 Search

    - results = @projects.length + @news.length + @features.length + @case_studies.length + @partners.length + @downloads.length + @faqs.length + @chapters.length + @tutorials.length

    %p= "#{pluralize(results, 'result')} for &quot;#{params[:query]}&quot;".html_safe

    =render "news"
    =render "support"
    =render "what_is_d3"
    =render "get_d3"
    =render "projects"
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"