- if partner.partner_category.present?
  -if partner.partner_category.name == "Distributors" || partner.partner_category.name == "d3 Studios Global"
    = render "layouts/slideshow", :object => partner, :full_width => true
#social_bookmarks
  TODO: social bookmarks here
- if partner.partner_category.present?
  - if  partner.partner_category.name == "Distributors" || partner.partner_category.name == "d3 Studios Global"
    %h1= partner.name
    .introduction
      %p= partner.summary
  - else
    %h1= partner.name
-else
  %h1= partner.name
%section#partner_address
  %h2= "Details"
  %table
    - if partner.address_line_one.present?
      %tr
        %td.left= "Location"
        %td.right= partner.address_line_one
    - if partner.address_line_two.present?
      %tr
        %td
        %td= partner.address_line_two
    - if partner.address_line_one.present? || partner.postcode.present?
      %tr
        %td
        %td= "#{partner.town} #{partner.postcode}"
    - if partner.country.present?
      %tr
        %td
        %td= partner.country
    - if partner.company.present?
      %tr
        %td= "Company"
        %td= partner.company
    - if partner.phone.present?
      %tr
        %td= "Phone"
        %td= partner.phone
    - if partner.email.present?
      %tr
        %td= "Email"
        %td= link_to partner.email, "mailto:#{partner.email}"
    - if partner.website.present?
      %tr
        %td= "Website"
        %td= link_to partner.website, partner.website

-if partner.partner_category.present?
  - if partner.partner_category.name == "Users" && partner.assets.present?
    #user_image
      %img{:src => partner.assets.first.asset.url(:small), :alt => partner.assets.first.description}
  - elsif partner.postcode.present? && partner.town.present?
    #google_map
      - location = "#{partner.address_line_one} #{partner.address_line_two} #{partner.town} #{partner.postcode} #{partner.country}".gsub(/ /, '+')
      %a{:href => "http://maps.google.co.uk/maps?q=#{location}"}
        %img{:alt => "map", :src => "http://maps.google.com/maps/api/staticmap?center=#{location}&zoom=15&size=520x325&sensor=false&markers=color:red|#{location}&style=saturation:-100"}

- for content_area in partner.partner_content_areas.ordered do
  %section.partner_show
    %h2= content_area.title
    = sanitize(textilize(content_area.content))