%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    - if @partner.partner_category.present?
      -if (@partner.partner_category.name == "Distributors" || @partner.partner_category.name == "d3 Studios Global") && @partner.assets.present?
        %span#prevBtn.one-col
          =link_to "&nbsp;".html_safe, "javascript:void(0);"
        %span#nextBtn.one-col
          =link_to "&nbsp;".html_safe, "javascript:void(0);"
        #slider.one-col
          %ul
            - for asset in @partner.assets do
              %li
                %img{:src => asset.asset.url(:xl), :width => "938px", :height => "587px", :alt => asset.description}
    #social_bookmarks
      TODO: social bookmarks here
    - if @partner.partner_category.present?
      - if  @partner.partner_category.name == "Distributors" || @partner.partner_category.name == "d3 Studios Global"
        %h1.after-slideshow= @partner.name
        .introduction
          %p= @partner.summary
      - else
        %h1= @partner.name
    -else
      %h1= @partner.name
    %h2= "Details"
    -if @partner.partner_category.present?
      - if @partner.partner_category.name == "Users" && @partner.assets.present?
        #user_image
          %img{:src => @partner.assets.first.asset.url(:medium), :alt => @partner.assets.first.description}
      - else
        #google_map= "TODO Map Here"
    %table
      - if @partner.address_line_one.present?
        %tr
          %td.left= "Location"
          %td.right= @partner.address_line_one
      - if @partner.address_line_two.present?
        %tr
          %td
          %td= @partner.address_line_two
      - if @partner.address_line_one.present? || @partner.postcode.present?
        %tr
          %td
          %td= "#{@partner.town} #{@partner.postcode}"
      - if @partner.country.present?
        %tr
          %td
          %td= @partner.country
      - if @partner.company.present?
        %tr
          %td= "Company"
          %td= @partner.company
      - if @partner.phone.present?
        %tr
          %td= "Phone"
          %td= @partner.phone
      - if @partner.email.present?
        %tr
          %td= "Email"
          %td= link_to @partner.email, "mailto:#{@partner.email}"
      - if @partner.website.present?
        %tr
          %td= "Website"
          %td= link_to @partner.website, @partner.website
    - for content_area in @partner.partner_content_areas.ordered do
      %section.partner_show
        %h2= content_area.title
        = sanitize(textilize(content_area.content))
%section#prev_next_bar
  &nbsp;
-#  - if @partner.previous.present?
-#    .previous
-#      %p
-#        %span Previous
-#      %p= link_to @partner.previous.name, @partner.previous
-#  - if @partner.next.present?
-#    .next
-#      %p
-#        %span Next
-#      %p= link_to @partner.next.name, @partner.next
%section#related
  = render "pages/related"    