.parent= link_to "Company", "/company"
%ul
  %li= link_to "Jobs", "/company/jobs"
  %li= link_to "Contact us", "/enquiry-form"
  %li= link_to "T&C", "/terms-and-conditions"
  %li= link_to "Privacy Policy", "/privacy-policy"


