%section#breadcrumb
  = render "breadcrumb_company"
.container
  %section#content.company
    = render "layouts/social_bookmarks"
    %h1= @page.name
    .company_wrapper
      .about_company= sanitize(textilize(@page.introduction))
      - if @page.assets.present?
        %img{:src => @page.assets.first.asset.url(:medium), :alt => @page.assets.first.description}
    #company_left
      #company_map
        %a{:href => "http://maps.google.co.uk/maps?q=51.50041,-0.09694"}
          %img{:alt => "map", :src => "http://maps.google.com/maps/api/staticmap?center=51.50041,-0.09694&zoom=15&size=286x179&sensor=false&markers=color:red|51.50041,-0.09694&style=saturation:-100"}/


      #company_address
        - if @page.content_areas.find_by_name('Address').present?
          %h2= @page.content_areas.find_by_name('Address').name
          = sanitize(textilize(@page.content_areas.find_by_name('Address').content))
      #company_contacts= sanitize(textilize(@page.content_areas.find_by_name('Contacts').content)) if @page.content_areas.find_by_name('Contacts').present?
    #company_right
      %h2 Jobs at d3
      %ul
        - for job in @page.children.find_by_name('Jobs').content_areas do
          %li
            = link_to job.name, "/company/jobs##{job.name.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, "-").downcase}"