%section#content.product_detail
  = render "layouts/slideshow", :object => @page, :full_width => true
  #social_bookmarks
    TODO: social bookmarks here
  %h1.after-slideshow= @page.name
  - if @page.introduction.present?
    .introduction
      = sanitize(textilize(@page.introduction))
  - for content_area in @page.content_areas do
    - if content_area.asset.present?
      %section{:class => "alternating"}
        %img{:src => content_area.asset.asset.url(:medium), :alt => content_area.asset.description}
        .wrapper
          %h2= content_area.name
          = sanitize(textilize(content_area.content))
          - if content_area.see_more_label.present? && content_area.see_more_url.present?
            %p.read_more
              =link_to content_area.see_more_label, content_area.see_more_url
  %section#specification
    - if @page.content_areas.find_by_name('footer-area-left').present?
      .left= textilize(@page.content_areas.find_by_name('footer-area-left').content).html_safe
    - if @page.content_areas.find_by_name('footer-area-right').present?
      .right= textilize(@page.content_areas.find_by_name('footer-area-right').content).html_safe

