%section#breadcrumb
  = render "breadcrumb_company"
.container
  %section#content.enquiry
    = render "layouts/social_bookmarks"
    %h1= @page.name
    - if @page.introduction.present?
      .introduction
        = sanitize(textilize(@page.introduction))
    #enquiry_form
      = @page.content_areas.first.content.html_safe
      -#= render :partial => "enquiries/salesforce_form" #alternative to having it in content area
      -#= render :partial => "enquiries/form"  #old form - should still work if uncommented