%section#breadcrumb
  = render "breadcrumb_company"
.container
  %section#content.enquiry
    = render "layouts/social_bookmarks"
    %h1= @page.name
    - if @page.introduction.present?
      .introduction
        = sanitize(textilize(@page.introduction))
    #enquiry_form
      = render :partial => "enquiries/form"