%section#breadcrumb
  = render "breadcrumb_products"
.container
  %section#content.products
    -#- if @page.vimeo_id.present?
      -#%iframe{:frameborder => "0", :height => "586", :src => "http://player.vimeo.com/video/#{@page.vimeo_id}", :width => "938"}
    #social_bookmarks
      TODO: social bookmarks here
    %h1= @page.name
    .intro_wrapper
      .introduction
        = sanitize(textilize(@page.introduction))
        %p.read_more= link_to "Compare Products", "#compare_products_table", :class => "read_more"
      - for advice in @page.content_areas.where(:name => 'Need some advice?') do
        .product_side_box
          = sanitize(textilize(advice.content))
          - if advice.see_more_label.present? && advice.see_more_url.present?
            %p.read_more= link_to advice.see_more_label, advice.see_more_url, :class => "read_more"
    %section#compare_products_list
      = render "product_item", :name => "d3 Designer", :can => "d3 DESIGNER CAN ..."
      = render "product_item", :name => "2u", :can => "2u CAN ..."
      = render "product_item", :name => "4u", :can => "4u CAN ..."
    %section#compare_products_table
      - for comparison_table in @page.content_areas.where(:name => 'Compare d3 Products') do
        = textilize(comparison_table.content).html_safe

