%ul
  %li
    %h4= link_to "Overview","#"
    %p
      Maecenas dignissim, tellus vel placerat rhoncus, velit justo volutpat quam, et posuere libero.
      = "-"
      = link_to "More", "#"
  %li
    %h4= link_to "Projects","#"
    %p
      Tellus vel placerat rhoncus, velit justo volutpat quam, et posuere libero nisi a leo. Suspendisse.
      = "-"
      = link_to "More", "#"
  %li
    %h4= link_to "Support","#"
    %p
      Tel placerat rhoncus, velit justo volutpat quam, et posuere.
      = "-"
      = link_to "More", "#"
  %li
    %h4= link_to "Software","#"
    %p
      Placerat rhoncus, velit justo. Suspendisse rhoncus viverra tur.
      = "-"
      = link_to "More", "#"
