- title ||= false

- if request.fullpath.split("/")[2] == "announcements"
  - slug = "/support/announcements/#{news_item.slug}"
-else
  - slug = news_item_path(news_item)

= render "layouts/social_bookmarks" if title
%h1= news_item.headline if title
%article.news_item
  .wrapper
    %header
      %h2= link_to(news_item.headline, slug) if !title
      %p.date= news_item.created_at.strftime("%d %B %Y")

    %section.copy
      -if news_item.assets.present?
        = link_to(image_tag(news_item.assets.first.asset.url(:small), :alt => news_item.assets.first.description), slug, :class => "wrapped")
      - if(current_page?(:controller => 'news_items', :action => 'index') || current_page?(:controller => 'news_items', :action => 'next')) && news_item.summary.present?
        = sanitize(textilize(news_item.summary))
      - elsif(current_page?(:controller => 'news_items', :action => 'announcements') || current_page?(:controller => 'news_items', :action => 'next_announcement')) && news_item.summary.present?
        = sanitize(textilize(news_item.summary))
      -else
        = sanitize(textilize(news_item.content))