%section#breadcrumb
  = render "breadcrumb"
.container
  %section#content
    -if @page.present?
      = render :partial => "pages/page_content_header"
    = render "project_categories/quilt", :large_item => @featured_projects.first, :all_items => @featured_projects
    -#- for project_category in @project_categories do   #removed list as per request by Chris
      - if project_category.projects.present?
        %section.project_cat.left_aligned
          - if project_category.projects.first.assets.present?
            %img{:src => project_category.projects.first.assets.first.asset.url(:small), :alt => project_category.projects.first.assets.first.description}
          .wrapper
            %h2= project_category.name
            %p= project_category.summary
            %p.read_more= link_to "More", "projects/categories/#{project_category.slug}"

%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"