%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    - if @project.assets.present? 
      %span#prevBtn
        =link_to "&nbsp;".html_safe, "javascript:void(0);"
      %span#nextBtn
        =link_to "&nbsp;".html_safe, "javascript:void(0);"
    - if @project.vimeo_id.present?
      .display-none
        %iframe{:frameborder => "0", :height => "587", :src => "http://player.vimeo.com/video/#{@project.vimeo_id}", :width => "938", :id => "vimeo_player"}
    - if @project.assets.present? 
      #slider
        %ul
          - for asset in @project.assets do
            %li
              %img{:src => asset.asset.url(:xl), :width => "938px", :height => "587px", :alt => asset.description}
    - if @project.vimeo_id.present?
      .vimeo_link
        |
        =link_to "Video", "javascript:void(0);"
    #social_bookmarks
      TODO: social bookmarks here
    %h1.after-slideshow= @project.name
    %p.introduction= @project.summary
    - for content_area in @project.project_content_areas.ordered do
      %section{:class => "alternating"}
        %img{:src => content_area.asset.asset.url(:medium), :alt => content_area.asset.description}
        .wrapper
          %h2= content_area.title
          = sanitize(textilize(content_area.content))
    %section{:id => "how_made", :class => "alternating"}
      -if @project.how_made_image.present?
        %img{:src => @project.how_made_image.asset.url(:medium), :alt => @project.how_made_image.description}
      .wrapper
        %h2= @project.how_made_title
        = sanitize(textilize(@project.how_made))
        .list-container
          %ul
            - for feature in @project.features do
              %li= link_to feature.name, "#{feature_category_path(feature.feature_category)}##{feature.slug}"
        - if @project.how_made_bottom.present?
          = sanitize(textilize(@project.how_made_bottom))
    .project_credits
      - if @project.credits_left.present?
        %section#credits
          %h3= "Credits"
          .wrapper
            .left= sanitize(textilize(@project.credits_left))
            - if @project.credits_right.present?
              .right= sanitize(textilize(@project.credits_right))
      - if @project.equipment_left.present?
        %section#equipment
          %h3= "Equipment used"
          .wrapper
            .left= sanitize(textilize(@project.equipment_left))
            - if @project.equipment_right.present?
              .right= sanitize(textilize(@project.equipment_right))
%section#prev_next_bar
  - if @project.previous.present?
    .previous
      %p
        %span Previous
      %p= link_to @project.previous.name, @project.previous
  - if @project.next.present?
    .next
      %p
        %span Next
      %p= link_to @project.next.name, @project.next
%section#related
  = render "pages/related"    