%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#sidebar
    = render "sidebar"
  %section#content
    %header
      %h1.underlined Downloads
    = render "download_items", :downloads => @downloads
    .more_news
    %p.read_more.downloads= link_to "SHOW 10 MORE", "/support/downloads/next/1", :remote => true, :class => "show_more"
    %p#no_data_found= link_to "NO MORE ITEMS", ""

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"