%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    = render "sidebar"
  %section#content
    %header
      %h1.underlined= "#{@download_category.name} Downloads"
    = render "download_items"
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"