%section#breadcrumb
  = render "projects/breadcrumb"
.container
  %section#content
    %h1= @project_category.name
    .introduction
      %p= @project_category.content
    = render "quilt", :large_item => @project_category.projects.first, :all_items => @project_category.projects
%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"