%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    %h1= @project_category.name
    %p.introduction= @project_category.content
    %ul#listed_projects
      -for project in @project_category.projects do
        %li
          %a{:href => project_path(project)}
            - if project.assets.present?
              %img{:src => project.assets.first.asset.url(:medium), :width => "272px", :height => "170px", :alt => project.name}
            - else
              = image_tag("placeholder_small.png")
            %h3= project.name
%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"