%section#breadcrumb
  = render "feature_categories/breadcrumb"
.container
  %section#content
    - if @page.present?
      = render :partial => "pages/page_content_header"
    - for workflow_item in @workflow_items do
      %section.work_flow_item
        .left_column
          .controls_open.blue_dot= link_to "x", "javascript:void(0)"
          %h2.controls_open
            =link_to workflow_item.list_title, "javascript:void(0)"
          = sanitize(textilize(workflow_item.list_area))
          .bottom_arrow
        .right_column
          %h2= workflow_item.title
          = sanitize(textilize(workflow_item.content_area))
        .overlay
          .controls_close
            = link_to "x", "javascript:void(0)"
          .wrapper
            = sanitize(textilize(workflow_item.overlay))
          - if workflow_item.asset.present?
            %img{:src => workflow_item.asset.asset.url(:small), :alt => workflow_item.asset.description}

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"