%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#sidebar.nav
    =render "sidebar"
  %section#content.detail
    %article#user_guide
      = render "layouts/social_bookmarks"
      %h1= "#{@index}. #{@chapter.name}"
      .introduction
        = sanitize(textilize(@chapter.summary))
      - iii = 1
      - @chapter.children.each do |child|
        %section.section{:id => child.slug}
          %h2= "#{@index}.#{iii} #{child.name}"
          = sanitize(textilize(child.content))
        - iii += 1
%section#prev_next_bar
  - if @chapter.previous_chapter.present?
    .previous
      %p
        %span Previous
      %p= link_to @chapter.previous_chapter.name, @chapter.previous_chapter
  - if @chapter.next_chapter.present?
    .next
      %p
        %span Next
      %p= link_to @chapter.next_chapter.name, @chapter.next_chapter
%section#related
  = render "layouts/related"


