%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#sidebar.nav
    =render "sidebar"
  %section#content.detail
    %article#user_guide
      = render "layouts/social_bookmarks"
      %h1= "#{@index}. #{@chapter.name}"
      .introduction
        = sanitize(textilize(@chapter.summary))
      - iii = 1
      - @chapter.children.each do |child|
        %section.section{:id => child.slug}
          %h2= "#{@index}.#{iii} #{child.name}"
          = sanitize(textilize(child.content))
        - iii += 1
%section#prev_next_bar
  &nbsp;
%section#related
  = render "layouts/related"


