%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#content
    = render "layouts/slideshow", :object => @case_study, :full_width => true
    #social_bookmarks
      TODO: social bookmarks here
    %h1.after-slideshow= "#{@case_study.name}, Case Study"
    .introduction
      = sanitize(textilize(@case_study.introduction))
    #case_study_wrapper= sanitize(textilize(@case_study.content))
    #case_study_sidebar
      %h3= @case_study.sidebar_title
      .sidebar_wrapper= sanitize(textilize(@case_study.sidebar))
      %h3= "Features Used"
      %ul.sidebar_wrapper.features
        -for feature in @case_study.features do
          %li= link_to feature.name, "#{feature_category_path(feature.feature_category)}##{feature.slug}"
%section#prev_next_bar
  - if @case_study.find_previous.present?
    .previous
      %p
        %span Previous
      %p= link_to @case_study.find_previous.name, @case_study.find_previous
  - if @case_study.find_next.present?
    .next
      %p
        %span Next
      %p= link_to @case_study.find_next.name, @case_study.find_next
%section#related
  = render "pages/related"    