.parent= link_to "What is d3?", "/what-is-d3"
%ul
  %li= link_to "The Concept", "/what-is-d3/the-concept"
  %li= link_to "Workflow", workflow_items_path
  %li= link_to "Features", feature_categories_path
  %li= link_to "Case Studies", case_studies_path
  %li= link_to "Products", "/products"
