%section#breadcrumb
  = render "breadcrumb"
.container
  %section#sidebar.nav
    = render "sidebar"
  %section#content.index
    -if @page.present?
      = render :partial => "pages/page_content_header"
    - @feature_categories.each do |feature_category|
      %section.left_aligned
        -if feature_category.assets.present?
          %img{:src => feature_category.assets.first.asset.url(:small), :alt => feature_category.assets.first.description}
        .wrapper
          %h2= feature_category.name
          %p.summary= feature_category.content
          %p.read_more= link_to "More", feature_category

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"