%section#breadcrumb
  = render "breadcrumb"
.container
  %section#sidebar.nav
    = render "sidebar"
  %section#content.detail
    = render "layouts/slideshow", :object => @feature_category, :full_width => false
    #social_bookmarks
      TODO: social bookmarks here
    %h1= @feature_category.name
    .introduction
      = sanitize(textilize(@feature_category.content))
    .alt_wrapper
      - for feature in @feature_category.features.ordered do
        %section{:id => feature.slug, :class => "alternating"}
          -if feature.asset.present?
            %img{:src => feature.asset.asset.url(:small), :alt => feature.asset.description, :class => "wrapped"}
          %h2= feature.name
          = sanitize(textilize(feature.content))
%section#prev_next_bar
  - if @feature_category.previous_feature_cat.present?
    .previous
      %p
        %span Previous
      %p= link_to @feature_category.previous_feature_cat.name, @feature_category.previous_feature_cat
  - if @feature_category.next_feature_cat.present?
    .next
      %p
        %span Next
      %p= link_to @feature_category.next_feature_cat.name, @feature_category.next_feature_cat
%section#related
  = render "layouts/related"
