%section#breadcrumb
  = render "knowledge_base/breadcrumb"
.container
  %section#sidebar.nav
    = render :partial => "sidebar"
  %section#content
    %article#faqs.expander

      - if @faq_category
        %h1= @faq_category.name

        - for faq in @faq_category.faqs do
          .section{:id => faq.question.gsub(/[^0-9a-z ]/i, '').gsub(/\s+/, '-').downcase}
            %p.title
              %span.more
                %a.driver
                  SHOW
              = link_to faq.question, "javascript: void(0)", :class => "driver"
            .body.hidden
              =sanitize(textilize(faq.answer))

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"