%section#breadcrumb
  = render "pages/breadcrumb"
.container
  %section#sidebar
    = render :partial => "sidebar"

  %section#content
    %article#faqs.expander

      %h1= @faq_category.name

      - for faq in @faq_category.faqs do
        .section
          %h3.title
            %span.more
              %a
                SHOW
            = link_to faq.question, "javascript:void(0)"
          .body.hidden
            =sanitize(textilize(faq.answer))

%section#prev_next_bar
  &nbsp;
%section#related
  = render "pages/related"