= form_tag("/send_enquiry", :method => "put", :class => "expander", :id => "enquiryForm") do
  %h3 Contact details

  %p= label_tag(:first_name, "First name *")
  = text_field_tag :first_name, nil, :class => 'text_field required'
  %p= label_tag(:last_name, "Last name *")
  = text_field_tag :last_name, nil, :class => 'text_field required'
  %p= label_tag(:position)
  = text_field_tag :position, nil, :class => 'text_field'
  %p= label_tag(:company, "Company *")
  = text_field_tag :company, nil, :class => 'text_field required'
  %p= label_tag(:website)
  = text_field_tag :website, nil, :class => 'text_field'
  %p= label_tag(:email, "Email *")
  = email_field_tag :email, nil, :class => 'text_field required'
  %p= label_tag(:city, "City *")
  = text_field_tag :city, nil, :class => 'text_field required'
  %p= label_tag(:country)
  = text_field_tag :country, nil, :class => 'text_field'
  %p= label_tag(:phone1, "Phone 1 *")
  = text_field_tag :phone1, nil, :class => 'text_field required'
  %p= label_tag(:phone2, "Phone 2")
  = text_field_tag :phone2, nil, :class => 'text_field'
  %p= "* required fields"
  .section
    %h3.read_more
      =link_to "Sales enquiries", "javascript:void(0)"
    .body.hidden
      %p= label_tag(:sales_4u, "Nr of 4u machines you would like to purchase?")
      .dropdown_field= select_tag "sales_4u", "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>5+</option><option>I'm not sure, I want to talk about my requirements</option>".html_safe
      %p= label_tag(:sales_2u, "Nr of 2u machines you would like to purchase?")
      .dropdown_field= select_tag "sales_2u", "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>5+</option><option>I'm not sure, I want to talk about my requirements</option>".html_safe
      %p= label_tag(:sales_d3_designer, "Nr of d3 Designer Packages you would like to purchase?")
      .dropdown_field= select_tag "sales_d3_designer", "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>5+</option><option>I'm not sure, I want to talk about my requirements</option>".html_safe
      %p= label_tag(:sales_comments, "Other Comments")
      .text_area= text_area_tag(:sales_comments)
  .section
    %h3.read_more
      =link_to "Rental enquiries", "javascript:void(0)"
    .body.hidden
      %p= label_tag(:rental_4u, "Nr of 4u rental machines needed? ")
      .dropdown_field= select_tag "rental_4u", "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>5+</option><option>I'm not sure, I want to talk about my requirements</option>".html_safe
      %p= label_tag(:rental_2u, "Nr of 2u rental machines needed? ")
      .dropdown_field= select_tag "rental_2u", "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>5+</option><option>I'm not sure, I want to talk about my requirements</option>".html_safe
      %p= label_tag(:rental_location, "Location of Show")
      = text_field_tag :rental_location, nil, :class => 'text_field'
      %p= label_tag(:rental_start_date, "Rental start date")
      = text_field_tag :rental_start_date, nil, :class => 'text_field'
      %p= label_tag(:rental_return_date, " Rental return date")
      = text_field_tag :rental_return_date, nil, :class => 'text_field'
      %p= label_tag(:rental_project_description, "Project description")
      .text_area= text_area_tag(:rental_project_description)
      %p= label_tag(:rental_comments, "Other comments")
      .text_area= text_area_tag(:rental_comments)
  .section
    %h3.read_more
      =link_to "Consultancy services", "javascript:void(0)"
    .body.hidden
      %p= label_tag(:project_name)
      = text_field_tag :project_name, nil, :class => 'text_field'
      %p= label_tag(:consultancy_project_description, "Project description")
      .text_area= text_area_tag(:consultancy_project_description)
      %p= label_tag(:consultancy_install_date, "Dates for install")
      = text_field_tag :consultancy_install_date, nil, :class => 'text_field'
      %p= label_tag(:consultancy_show_date, "Dates for show")
      = text_field_tag :consultancy_show_date, nil, :class => 'text_field'
      %h3= "Services required"
      %table
        %tr
          %td= check_box_tag 'consultation'
          %td= label_tag 'consultation', 'Consultation'
        %tr
          %td= check_box_tag 'd3_project_development'
          %td= label_tag 'd3_project_development', "d3 project development"
        %tr
          %td= check_box_tag 'project_support'
          %td= label_tag 'project_support', "Project support"
        %tr
          %td= check_box_tag 'technical_management'
          %td= label_tag ' technical_management', "Technical management"
        %tr
          %td= check_box_tag 'training'
          %td= label_tag 'training', "Training"
        %tr
          %td= check_box_tag 'system_provision'
          %td= label_tag 'system_provision', "System Provision"
  %p= submit_tag "Submit", :class => "submit_button"