%ul
  %li
    %h5= link_to "What is d3?", "/what-is-d3"
    %ul
      %li= link_to "Software", "/what-is-d3/features"
      %li= link_to "Hardware?", "/products"
      %li= link_to "Workflow", "/what-is-d3/workflow"
      %li= link_to "Case Studies", case_studies_path
      %li= link_to "Get d3", partner_categories_path
  %li
    %h5= link_to "Projects", projects_path
    %ul
      %li= link_to "Architectural", "#"
      %li= link_to "TV", "#"
      %li= link_to "Art", "#"
      %li= link_to "Concerts", "#"
      %li= link_to "Theatre", "#"
      %li= link_to "Mapping", "#"
      %li= link_to "Film", "#"
  %li
    %h5= link_to "Products", "/products"
    %ul
      %li= link_to "4U", "/products/4u"
      %li= link_to "2U", "/products/2u"
      %li= link_to "d3 Designer", "products/d3-designer"

  %li
    %h5= link_to "d3 Consulting", "/d3-consulting"
    %ul
      %li= link_to "Feasibility", "#"
      %li= link_to "Customisation", "#"
      %li= link_to "Project Setup", "#"
      %li= link_to "Delivery", "#"
      %li= link_to "Technical", "#"
      %li= link_to "On-site", "#"
      %li= link_to "Consultancy", "#"
  %li
    %h5= link_to "Get d3", partner_categories_path
    %ul
      %li= link_to "Distributors", "/get_d3/distributors"
      %li= link_to "Rental Partners", "/get_d3/rental-partner"
      %li= link_to "Users", "get_d3/users/"
      %li= link_to "d3 Studios Global", "get_d3/d3-studios-global"
  %li
    %h5= "Support"
    %ul
      %li= link_to "Knowledge Base", "#"
      %li= link_to "Training", "#"
      %li= link_to "Downloads", "#"
      %li= link_to "FAQs", "#"
      %li= link_to "Contact", "#"
  %li
    %h5= "Company"
    %ul
      %li= link_to "About Us", "/company"
      %li= link_to "Enquiry Form", "/company/enquiry-form"
      %li= link_to "Jobs", "/company/jobs"
      %li= link_to "News", "/news"
  %li
    %h5= "Legal"
    %ul
      %li= link_to "T&C", "/company/terms-and-conditions"
      %li= link_to "Privacy Policy", "/company/privacy-policy"

#mailing-list-form
  %form.search{:action => "/search", :name => "searchform"}
    %input{:name => "query", :type => "text", :value =>"TODO Enter your email address to join the d3 mailing list"}
    %button.button{:type => "submit"}
      = "Add me to the list"
      = image_tag("arrow_grey_right.png")
.container
  #impressum
    %p.all-caps &copy; 2011 United Visual Artists
    %p.address Units B & D, 127-129 Great Suffolk Street, London SE1 1PP, United Kingdom
  #social-bookmarks
    %p TODO: social bookmark icons

    .grid_debug
      %a.show_grid
        Show Grid
      |
      %a.hide_grid
        Hide Grid