%ul
  %li
    %h5= link_to "What is d3?", "/what-is-d3"
    %ul
      %li= link_to "Concept", "/what-is-d3/concept"
      %li= link_to "Features", "/what-is-d3/features"
      %li= link_to "Workflow", "/what-is-d3/workflow"
      %li= link_to "Case Studies", case_studies_path
  %li
    %h5= link_to "Products", "/products"
    %ul
      %li= link_to "d3 Designer", "products/d3-designer"
      %li= link_to "2U", "/products/2u"
      %li= link_to "4U", "/products/4u"
  %li
    %h5= link_to "Get d3", partner_categories_path
    %ul
      %li= link_to "Distributors", "/get-d3/distributors"
      %li= link_to "Rental Partners", "/get-d3/rental-partners"
      -#%li= link_to "Users", "get-d3/users/"
      %li= link_to "d3 Studios Global", "/get-d3/d3-studios-global"
  %li
    %h5= link_to "d3 Consulting", "/d3-consulting"
  %li
    %h5= link_to "Projects", projects_path
    %ul
      - for category in @project_categories do
        %li= link_to category.name, "/projects/categories/#{category.slug}"
  %li
    %h5= "Support"
    %ul
      %li= link_to "User Guide", "/support/user-guide"
      %li= link_to "FAQ", "/support/faq/most-popular"
      %li= link_to "Tutorials", "/support/tutorials"
      %li= link_to "Training", "/support/training"
      %li= link_to "Announcements", "/news"
      %li= link_to "Downloads", "/support/downloads"
  %li
    %h5= link_to "News", news_items_path
  %li
    %h5= "Company"
    %ul
      %li= link_to "Jobs", "/company/jobs"
      %li= link_to "Enquiry Form", "/company/enquiry-form"
      %li= link_to "T&C", "/company/terms-and-conditions"
      %li= link_to "Privacy Policy", "/company/privacy-policy"
#mailing-list-form
  = form_tag("/send_subscription", :method => "put", :class => "search", :remote => true) do
    %input{:name => "email", :type => "text", :value =>"Enter your email address to join the d3 mailing list", :title => "Enter your email address to join the d3 mailing list"}
    %button.button{:type => "submit"}
      = "Add me to the list"
      = image_tag("arrow_grey_right.png")
.container
  #impressum
    %p &copy; 2012 d3 Technologies
    %p.address Units B & D, 127-129 Great Suffolk Street, London SE1 1PP, United Kingdom
  #social-bookmarks
    %p TODO: social bookmark icons

    .grid_debug
      %a.show_grid
        Show Grid
      |
      %a.hide_grid
        Hide Grid