!!! 5
-# TODO needs boilerplate?
-# -#http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-# -#hacked version of html5-boilerplate
-#-ie_html :class => 'no-js', :lang => 'en' do
%html
  %head
    = render "layouts/head"
    = stylesheet_link_tag :application, :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body{ :class => "#{controller.controller_name} bp" }
    #container
      %header#header
        = link_to image_tag("d3-logo.png"), "/", :id => "d3-logo"
        #news-ticker
          = render "layouts/ticker"
        #search-form
          = render "layouts/search"
        %nav#topnav
          %ul
            %li= nav_link "What's d3?'","javascript:void(0);"
            %li= nav_link "Products","javascript:void(0);"
            %li= nav_link "Get d3","javascript:void(0);"
            %li= nav_link "d3 Studios","javascript:void(0);"
            %li= nav_link "Projects","javascript:void(0);"
            %li= nav_link "Support","javascript:void(0);"
            %li= nav_link "News","javascript:void(0);"
            %li= nav_link "Company","javascript:void(0);"
      #main{ :role => 'main' }
        = yield
  
      %footer#footer
        = render "layouts/footer"
    = javascript_include_tag :application
