!!! 5
%html
  %head
    = render "layouts/head"
    = stylesheet_link_tag :application, :media => 'all'
    /[if (gte IE 6)&(lte IE 8)]
      = javascript_include_tag :selectivizr
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag :modernizr
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30159237-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{ :class => "#{controller.controller_name} bp" }
    #container
      %header#header
        = link_to image_tag("logo_80.png"), "/", :id => "d3-logo"
        #search-form.no-print
          = render "layouts/search"
        #news-ticker.no-print
          = render "layouts/ticker"

        %nav#topnav
          %ul
            %li= nav_link "What is <span>d</span>3?".html_safe, "/what-is-d3"
            %li= nav_link "Products", "/products"
            %li= nav_link "Get <span>d</span>3".html_safe, partner_categories_path
            %li= nav_link "<span>d</span>3 Consulting".html_safe, "/d3-consulting"
            %li= nav_link "Projects", projects_path
            %li= nav_link "Support", "/support"
            %li= nav_link "News", news_items_path
            %li= nav_link "Company", "/company"
      #message
        #message_content
      -if flash[:notice]
        #flash_notice= flash[:notice]
      -if flash[:alert]
        #flash_alert= flash[:alert]
      #main{ :role => 'main' }
        = yield
  
      %footer#footer
        = render "layouts/footer"
    = javascript_include_tag :application
