!!! 5
-# TODO needs boilerplate?
-# -#http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-# -#hacked version of html5-boilerplate
-#-ie_html :class => 'no-js', :lang => 'en' do
%html
  %head
    = render "layouts/head"
    = stylesheet_link_tag :application, :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body{ :class => "#{controller.controller_name} bp" }
    #container
      %header#header
        = link_to "Logo", "/"
        .container
          = render "layouts/ticker"
          = render "layouts/search"
          %nav#topnav
            %ul
              %li= nav_link "link1","http://cenatus.org"
              %li= nav_link "link2","http://netaudiolondon.org"
              %li= nav_link "link3","javascript:void(0);"
      #main{ :role => 'main' }
        = yield
  
      %footer#footer
        = render "layouts/footer"
    = javascript_include_tag :application
