!!! 5
-# TODO needs boilerplate?
-# -#http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-# -#hacked version of html5-boilerplate
-#-ie_html :class => 'no-js', :lang => 'en' do
%html
  %head
    = render "layouts/head"
    = stylesheet_link_tag :application, :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body{ :class => "#{controller.controller_name} bp" }
    #container
      %header#header
        = link_to image_tag("logo_80.png"), "/", :id => "d3-logo"
        #search-form
          = render "layouts/search"
        #news-ticker
          = render "layouts/ticker"

        %nav#topnav
          %ul
            %li= nav_link "What is <span>d</span>3?".html_safe, "/what-is-d3"
            %li= nav_link "Products", "/products"
            %li= nav_link "Get <span>d</span>3".html_safe, partner_categories_path
            %li= nav_link "<span>d</span>3 Studios".html_safe, "javascript:void(0);"
            %li= nav_link "Projects", projects_path
            %li= nav_link "Support", "#"
            %li= nav_link "News", news_items_path
            %li= nav_link "Company", "/company"
      #message
        #message_content
      #main{ :role => 'main' }
        = yield
  
      %footer#footer
        = render "layouts/footer"
    = javascript_include_tag :application
